
body {
    font-family: Arial, sans-serif;
    background-color: #c0c0c0;
    line-height: 1.6;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.main-info {
    background: #7b3dee;
    color: #fff;
    padding: 20px;
}

.main-info h1 {
    margin: 0;
}

.lions-tigers-bears, .intro, .getting-to-know, .first-website, .fun-fact {
    background: #5b89df;
    padding: 15px;
    margin-bottom: 10px;
}
